.container {
  max-width: 800px;
  margin: 30px auto;
  /* background: #1e1e1e;
  color: white; */
  background: white;
  color: #252628;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(2, 2, 2, 0.2);
}

.title {
  background-color: #252628;
  margin-top: 0;
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.teams {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.label {
  margin: 0;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  color: white;
}

.timeDuration {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 200px;
  background-color: whitesmoke;
  color: black;
  margin: auto;
  border-radius: 10px;
  height: 80px;
}

.killQuantity {
  font-size: 30px;
  font-weight: 900;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
}

.team {
  margin-top: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 15px;
}

.player {
  display: flex;
  align-items: center;
  padding: 10px;
}

.player img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.player p {
  font-size: 15px;
  font-weight: 800;
}

.kda {
  margin-left: 10px;
}
