.metaBlock {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  margin: 30px auto 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: black;
}

.title {
  font-size: 24px;
  font-weight: bold;
  background-color: #252628;
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0 0;
  text-align: center;
  margin-top: 0;
}

.heroesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.note {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 20px;
  text-align: center;
}
