.button {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #2c2c2c;
  border: 3px solid;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.submit {
  border-color: #587341;
}

.submit:hover {
  background-color: #587341;
}

.cancel {
  border-color: #823633;
}

.cancel:hover {
  background-color: #823633;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
