.container {
  border-radius: 10px;
  max-width: 100%;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

.statsRow {
  line-height: 1.6;
}

.statsRow p {
  margin-top: 0;
}
.conclusion {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 12px;
}

.conclusion p {
  margin: 0;
}

.line {
  padding: 10px;
  border-radius: 6px;
  font-style: italic;
}

.summaryText {
  background-color: whitesmoke;
  text-align: justify;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.6;
}

.critical {
  background-color: rgba(219, 0, 0, 0.3);
  border-left: 4px solid rgba(219, 0, 0, 0.6);
}

.warning {
  background-color: rgba(255, 165, 0, 0.2);
  border-left: 4px solid rgba(255, 165, 0, 0.5);
}

.good {
  background-color: rgba(0, 128, 0, 0.2);
  border-left: 4px solid rgba(0, 128, 0, 0.4);
}
